.router-list {
  z-index: 3;
  padding-top: 10px;
  background-color: #e4e9e7;
  padding-right: 20px;
  border-bottom: 1px solid #2ca01c;
}

.router-list .tabs-li {
  border-left: none;
  height: 31px;
  display: flex;
  border-bottom: 4px solid transparent;
}

.router-list .tabs-li.active-item {
  box-shadow: 0 0 2px rgba(0, 0, 0, .16);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f2ebbf;
  border-bottom: 4px solid #2ca01c;
}

.suggest-short-key {
  width: 100%;
  height: 20px;
  position: absolute;
  top: -10px;
}

.tabs-btn {
  margin: 0;
  padding: 4px 20px;
  display: block;
  position: relative;
  width: 100%;
  background: 0 0;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: all .2s ease;
  z-index: 0;
  font-size: 13px;
  color: #111;
}

.tabs-btn:hover {
  color: #2ca01c;
}

.active-item .tab-label {
  font-weight: 700;

  text-align: center;
  white-space: nowrap;
}