@import url("./bases/button.css");
@import url("./bases/icons.css");
@import url("./bases/table.css");
@import url("./bases/toast-message.css");
@import url("./bases/input.css");
@import url("./bases/dialog.css");
@import url("./bases/dropdown.css");
@import url("./bases/paging.css");
@import url("./bases/content.css");
@import url("./bases/grid.css");
@import url("./bases/popup.css");
@import url("./bases/comboboxv1.css");
@import url("./login.css");

@font-face {
  font-family: "notosans";
  src: url(../fonts/notosans-regular.2cb88a13.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "notosans";
  src: url(../fonts/notosans-bold.3ede5aff.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "notosans";
  src: url(../fonts/notosans-semibold.df3e6dc4.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "notosans";
  src: url(../fonts/notosans-italic.1c1aaac9.woff2);
  font-style: italic;
}

:root {
  font-size: 16px;
  --font-family: "notosans";
  --primary-color: #50b83c;
  --sidebar-background-color: #020a01;
  /* --main-background-color: #eceef1; */
  --main-background-color: #e4e9e7;
  --height-header: 48px;
  --border-radius: 2px;
  --width-sidebar: 178px;
  --width-sidebar--shrink: 52px;
  --overview-height: 50px;
  --overview-label-size: 12px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 0.8125rem;
  /* font-size: 13px; */
}

::-webkit-scrollbar-track {
  background: #EEEEEE;
  /* border: 1px solid red; */
}

::-webkit-scrollbar-thumb {
  background: #b8bcc3;
  border: 1px solid #EEEEEE;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(224, 224, 224);
}


::-webkit-scrollbar-thumb:active {
  background: #757575;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


body {
  font-family: var(--font-family);
  font-size: var(--font-size);

}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.vertical-border {
  border-left: 1px solid;
}

.horizontal-border--white {
  border-top: 1px solid #ffffff33;
}

.font-24 {
  font-size: 1.5rem;
}

/* block */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.display-none {
  display: none !important;
}

.d-contents {
  display: contents;
}

/* flex */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-0 {
  flex: 0 0 0%;
}

.flex-none {
  flex: none;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-grow {
  flex-grow: 1 !important;
}

.gap {
  gap: 4px;
}

.gap-0-4 {
  gap: 0px 4px;
}

.gap-4-0 {
  gap: 4px 0px;
}

.gap-0-8 {
  gap: 0px 8px
}

.gap-8-0 {
  gap: 8px 0;
}

.gap-0-12 {
  gap: 0 12px;
}

.gap-16-0 {
  gap: 16px 0px;
}

.gap-0-16 {
  gap: 0px 16px;
}

.gap-24-0 {
  gap: 24px 0;
}

.gap-0-24 {
  gap: 0 24px;
}

/* justify-content */
.justify-normal {
  justify-content: normal;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-stretch {
  justify-content: stretch;
}

/* align item */
.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}


.items-stretch {
  align-items: stretch;
}

/* padding */
.p-0 {
  padding: 0px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ps-0 {
  padding-inline-start: 0px;
}

.pe-0 {
  padding-inline-end: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.p-1 {
  padding: 0.25rem;
  /* 4px */
}

.px-1 {
  padding-left: 0.25rem;
  /* 4px */
  padding-right: 0.25rem;
  /* 4px */
}

.py-1 {
  padding-top: 0.25rem;
  /* 4px */
  padding-bottom: 0.25rem;
  /* 4px */
}

.ps-1 {
  padding-inline-start: 0.25rem;
  /* 4px */
}

.pe-1 {
  padding-inline-end: 0.25rem;
  /* 4px */
}

.pt-1 {
  padding-top: 0.25rem;
  /* 4px */
}

.pr-1 {
  padding-right: 0.25rem;
  /* 4px */
}

.pb-1 {
  padding-bottom: 0.25rem;
  /* 4px */
}

.pl-1 {
  padding-left: 0.25rem;
  /* 4px */
}

.pr-1 {
  padding-right: 0.25rem;
  /* 4px */
}

.p-2 {
  padding: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-6 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.p-8 {
  padding: 2rem
}

.pl-8 {
  padding-left: 2rem;
}

.pr-9 {
  padding-right: 2.25rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pl-12 {
  padding-left: 3rem;
}

.pl-15 {
  padding-left: 3.75rem;
}

.pl-16 {
  padding-left: 4rem;
}

/* margin */
.mx-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.m-0 {
  margin: 0px;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.ms-0 {
  margin-inline-start: 0px;
}

.me-0 {
  margin-inline-end: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.m-1 {
  margin: 0.25rem;
  /* 4px */
}

.mx-1 {
  margin-left: 0.25rem;
  /* 4px */
  margin-right: 0.25rem;
  /* 4px */
}

.my-1 {
  margin-top: 0.25rem;
  /* 4px */
  margin-bottom: 0.25rem;
  /* 4px */
}

.ms-1 {
  margin-inline-start: 0.25rem;
  /* 4px */
}

.me-1 {
  margin-inline-end: 0.25rem;
  /* 4px */
}

.mt-1 {
  margin-top: 0.25rem;
  /* 4px */
}

.mr-1 {
  margin-right: 0.25rem;
  /* 4px */
}

.mb-1 {
  margin-bottom: 0.25rem;
  /* 4px */
}

.ml-1 {
  margin-left: 0.25rem;
  /* 4px */
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mx-2-5 {
  /* 10px */
  margin-right: 0.625rem;
  margin-left: 0.625rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.mx-6 {
  margin-right: 6rem;
  margin-left: 6rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-25 {
  margin-left: 6.25rem;
}

/* text-align */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

/* width + height */
.mi-24 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;

}

/* width */
.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-1\/4 {
  width: 25%;
}

.w-3\/4 {
  width: 75%;
}

.w-1\/5 {
  width: 20%;
}

.w-2\/5 {
  width: 40%;
}


.w-3\/5 {
  width: 60%;
}

.w-4\/5 {
  width: 80%;
}

.w-5\/6 {
  width: 83.3333333%;
}

.w-3\/7 {
  width: 42.8571428% !important;
}

.w-4\/7 {
  width: 57.1428571% !important;
}

.w-0 {
  width: 0px;
}

.w-px {
  width: 1px;
}


.w-1 {
  width: 0.25rem;
  /* 4px */
}


.w-2 {
  width: 0.5rem;
  /* 8px */
}


.w-3 {
  width: 0.75rem;
  /* 12px */
}

.w-4 {
  width: 1rem;
  /* 16px */
}

.w-5 {
  width: 1.25rem;
  /* 20px */
}

.w-6 {
  width: 1.5rem;
  /* 24px */
}

.w-7 {
  width: 1.75rem;
  /* 28px */
}

.w-8 {
  width: 2rem;
  /* 32px */
}

.w-9 {
  width: 2.25rem;
  /* 36px */
}

.w-10 {
  width: 2.5rem;
  /* 40px */
}

.w-11 {
  width: 2.75rem;
  /* 44px */
}

.w-12 {
  width: 3rem;
  /* 48px */
}

/* height */
.h-full {
  height: 100%;
}

.h-0 {
  height: 0px !important;
}

.h-px {
  height: 1px;
}

.h-1 {
  height: 0.25rem;
  /* 4px */
}

.h-2 {
  height: 0.5rem;
  /* 8px */
}

.h-3 {
  height: 0.75rem;
  /* 12px */
}

.h-4 {
  height: 1rem;
  /* 16px */
}

.h-5 {
  height: 1.25rem;
  /* 20px */
}

.h-6 {
  height: 1.5rem;
  /* 24px */
}

.h-7 {
  height: 1.75rem;
  /* 28px */
}

.h-8 {
  height: 2rem;
  /* 32px */
}

.h-9 {
  height: 2.25rem;
  /* 36px */
}

.h-10 {
  height: 2.5rem;
  /* 40px */
}

.h-11 {
  height: 2.75rem;
  /* 44px */
}

.h-12 {
  height: 3rem;
  /* 48px */
}

.h-14 {
  height: 3.5rem;
  /* 56px */
}

.h-85 {
  height: 21.25rem;
}

/* max height */
.mh-fit {
  max-height: fit-content;
}

.bg {
  background-color: var(--main-background-color);
}

.bgw {
  background-color: #fff;
}

.text-red {
  color: red;
}

.text-blue {
  color: #0075c0;
}

.border-radius-none {
  border-radius: none;
}

.font-regular {
  font-weight: 400;
}

.font-semi-bold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-italic {
  font-style: italic;
}

.border--focus {
  border: 1px solid #50b83c;
}

.border--red {
  border: 1px solid red !important;
}

.border--blue {
  border: 1px solid #0075c0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

.outline-none {
  outline: none;
}


.no-pointer {
  pointer-events: none;
  cursor: none;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-sticky {
  position: sticky;
}

.position-fixed {
  position: fixed;
}

.no-wrap {
  white-space: nowrap;
}

.left-0 {
  left: 0
}

.right-0 {
  right: 0;
}

.w-32 {
  width: 32px;
}

.w-40 {
  width: 40px;
}

.w-100 {
  width: 100px;
}

.w-120 {
  width: 120px;
}

.w-130 {
  width: 130px;
}

.w-140 {
  width: 140px;
}

.w-150 {
  width: 150px;
}

.w-160 {
  width: 160px;
}

.w-200 {
  width: 200px;
}

.w-240 {
  width: 240px;
}

.w-250 {
  width: 250px;
}

.w-350 {
  width: 350px;
}

.mw-32 {
  min-width: 32px;
}

.Mw-32 {
  max-width: 32px;
}

.mw-40 {
  min-width: 40px;
}

.Mw-40 {
  max-width: 40px;
}

.mw-100 {
  min-width: 100px;
}

.Mw-100 {
  max-width: 100px;
}

.mw-120 {
  min-width: 120px;
}

.Mw-120 {
  max-width: 120px;
}

.mw-130 {
  min-width: 130px;
}

.Mw-130 {
  max-width: 130px;
}

.mw-140 {
  min-width: 140px;
}

.Mw-140 {
  max-width: 140px;
}

.mw-150 {
  min-width: 150px;
}

.Mw-150 {
  max-width: 150px;
}

.mw-160 {
  min-width: 160px;
}

.Mw-160 {
  max-width: 160px;
}

.mw-200 {
  min-width: 200px;
}

.Mw-200 {
  max-width: 200px;
}

.mw-240 {
  min-width: 240px;
}

.Mw-240 {
  max-width: 240px;
}

.mw-250 {
  min-width: 250px;
}

.Mw-250 {
  max-width: 250px;
}

.mw-350 {
  min-width: 350px;
}

.Mw-350 {
  max-width: 350px;
}