.btn {
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    border-radius: var(--border-radius);
    padding: 12px 20px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    border: 1px solid transparent;
    cursor: pointer;
}


.btn~.btn {
    margin-left: 8px;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: 2px solid #dcdcdc;
}

.is-round {
    border-radius: 30px;
}

.btn--primary {
    color: #fff;
    background: #50b83c;
    border-color: #50b83c;
}

.btn--primary:hover {
    background-color: #57c841;

}



.btn--primary:active {
    background-color: #409330;
}

.btn--secondary {
    border: 1px solid #babec5;
    color: #111;
    background-color: transparent;
}

.btn--secondary:hover {
    background-color: #ccc;
    cursor: pointer;
}

.btn--secondary:active {
    background-color: #757575;
    color: #fff;
}


.btn--link {

    color: var(--primarymary-color);
    background: transparent;
}

.btn--link:hover {
    cursor: pointer;
    background-color: #eee;
}

.btn--link:active {
    background-color: #757575;
}

.btn-icon {
    width: 40px;
    height: 36px;
    background-color: #50b83c1a;
}

.btn-icon:hover {
    cursor: pointer;
    background-color: #a3e4961a;
}

.btn--combo {
    display: flex;
    align-items: center;
    padding: unset;
    /* margin: 24px; */
}




.btn--combo .btn--combo__button {
    padding-right: 10px;
    color: #fff;
    background: #50b83c;
    border: 1px solid #50b83c;
    border-right: 1px solid #fff;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    cursor: pointer;
    outline: #50b83c;
}

.btn--combo .btn--combo__button:hover,
.btn--combo .btn--combo__icon:hover {
    background-color: #57c841;
}

.btn--combo .btn--combo__button:focus,
.btn--combo .btn--combo__icon:focus {
    outline: 2px solid #dcdcdc;
    border: 1px solid transparent;
}

.btn--combo .btn--combo__button:active,
.btn--combo .btn--combo__icon:active {
    background-color: #409330;
    outline: 2px solid #dcdcdc;
    border: 1px solid transparent;
}

.combo-button--text {
    color: inherit;
    white-space: nowrap;
}



.btn--combo .btn--combo__icon {
    color: #fff;
    background: #50b83c;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border: 1px solid #50b83c;
    cursor: pointer;
}

.btn--combo .btn--combo__icon:hover {
    background-color: #57c841;
}

.btn--combo__icon .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.btn--combo__icon .icon {
    transform: rotate(-90deg);
}

.btn--combo .btn--default.btn--combo__button {
    padding: 0 10px 0 20px;
    height: 40px;
}

.btn--combo .btn--default.btn--combo__icon {
    padding: 0 9px 0 5px;
    height: 40px;
}

.btn--combo .btn--medium.btn--combo__button {
    padding: 0 12px 0 23px;
    height: 36px;
}

.btn--combo .btn--medium.btn--combo__icon {
    padding: 0 9px 0 5px;
    height: 36px;
}

.btn--combo .btn--medium.btn--combo__button {
    padding: 0 10px 0 20px;
    height: 36px;
}

.btn--combo .btn--medium.btn--combo__icon {
    padding: 0 9px 0 5px;
    height: 36px;
}

.btn--combo .btn--small.btn--combo__button {

    padding: 0 10px 0 15px;
    height: 32px;
}

.btn--combo .btn--small.btn--combo__icon {
    padding: 0 9px 0 5px;
    height: 32px;
}

.btn--combo .btn--mini.btn--combo__button {

    padding: 0 10px 0 15px;
    height: 28px;
}

.btn--combo .btn--mini.btn--combo__icon {
    padding: 0 9px 0 5px;
    height: 28px;
}

.btn--combo .btn-w-icon {
    display: flex;
    margin: 24px;
    width: 100px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    font-weight: 500;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    background: #50b83c;
}


.btn-w-icon:hover {
    background-color: #57c841;
    cursor: pointer;
}

.btn-w-icon:active {
    background-color: #409330;
}

.btn.btn--default {}

.btn.btn--medium {
    padding: 10px 20px;
    height: 36px;

}

.btn.btn--small {
    padding: 9px 15px;
    height: 32px;

}

.btn.btn--mini {
    padding: 7px 15px;
    height: 28px;

}