.table-wrapper {
    overflow: hidden;
    min-width: calc(100% + 0px);
    position: relative;
    height: 100%;
}

.table-container {
    overflow: auto;
    min-width: calc(100% + 0px);
    position: relative;
    height: 100%;
}

table {
    border-radius: var(--border-radius);
    border-spacing: 0;
    min-width: 100%;
    table-layout: fixed;
}

/* tbody {
    display: contents;
} */

th,
td {
    height: 48px;
    padding: 0 8px;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px dotted #c7c7c7;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

th {
    background-color: #eeeeee;
    position: sticky;
    top: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    color: #1f1f1f;
}

.th-anchor {
    text-align: center;
    z-index: 1;
    left: 0;
    padding: unset;
}

.th-anchor--end {
    left: unset;
    right: 0;
    border-right: unset;
    border-left: 1px dotted #c7c7c7;
}

th+.th-anchor--end {
    border-right: unset;
}

tr:hover {
    background-color: #f2f9ff;
}

tr:hover>td {
    background-color: #f2f9ff;
}

.tr-checked {
    background-color: #f2f9ff;
}

.tr-checked>td {
    background-color: #f2f9ff;
}

.td-anchor {
    position: sticky;
    text-align: center;
    background-color: #fff;
    padding: unset;
    overflow: unset;
}

.td-anchor--start {
    left: 0;
}

.td-anchor--end {
    right: 0;
    border-right: unset;
    border-left: 1px dotted #c7c7c7;
}

/* 
.td-anchor--end>span {
    height: 36px;
    line-height: 36px;
    font-size: 13px;
    font-weight: 600;
    color: #0075c0;
    padding: 0 8px;
    cursor: pointer;
}

.td-anchor--end>span:hover {
    background-color: #eee;
}

.td-anchor--end .dropdownlist {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100px;
    max-height: 200px;
    padding: 4px 2px;
    border-radius: var(--border-radius);
    overflow-y: auto;
    box-shadow: 0px 4px 16px #171b2a3d;
    background-color: #fff;
}

.td-anchor--end .dropdown__item {
    list-style: none;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    color: #000;
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 0 8px;
}

.td-anchor--end .dropdown__item:hover {
    background-color: #50b83c1a;
    color: #50b83c;
}

.td-anchor--end .btn-dropdown {
    background: url(../icons/Sprites.64af8f61.svg) no-repeat -887px -350px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border: 1px solid transparent;
}

.td-anchor--end .btn-dropdown:hover {
    background-color: #eee;
} */

td>input,
th>input {
    cursor: pointer;
}

.td-action--selected {
    z-index: 1;
}

.td-action>div {
    position: relative;
}

.td-action__icon {
    border: 1px solid transparent;
    position: relative;
}


.td-action__icon .td-action-list {
    top: 100%;
    left: unset;
    right: -6px;
    min-width: 120px;
    margin-right: 6px;
    /* display: block; */
}

.td-action__icon .td-action-list--up {
    top: unset;
    bottom: 100%;
    /* right: -6px;
    min-width: 120px;
    margin-right: 6px; */
    /* display: block; */
}