.table-wrapper {
    overflow: hidden;
    min-width: calc(100% + 0px);
    position: relative;
    height: 100%;
}

.table-container {
    overflow: auto;
    min-width: calc(100% + 0px);
    position: relative;
    height: 100%;
}

table {
    border-spacing: 0;
    min-width: 100%;
    table-layout: fixed;
}

th,
td {
    height: 30px;
    padding: 0 8px;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px dotted #c7c7c7;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
}

th.before-last,
td.before-last {
    border-right: unset;
}


th {
    background-color: #bcd4b9;
    border-bottom: 1px solid #649a5d;
    border-right: 1px solid #c7c7c7;
    position: sticky;
    top: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    color: #1f1f1f;
}

.th-anchor {
    text-align: center;
    z-index: 1;
    left: 0;
    padding: unset;
}

.th-anchor--end {
    left: unset;
    right: 0;
    border-right: unset;
    border-left: 1px dotted #c7c7c7;
}

th+.th-anchor--end {
    border-right: unset;
}

.th-foot {
    top: unset;
    bottom: 0;
    border-top: 1px solid #c7c7c7;
    min-height: var(--grid-summary-height);
    position: -webkit-sticky;
    position: sticky;
    /* z-index: 10; */
    background-color: #e8eaef;
    font-size: 12px;
    vertical-align: middle;
    border-bottom: unset;
    border-right: unset;
    height: 24px;
}

tr:hover {
    background-color: #fff8cb;
}

tr:hover>td {
    background-color: #fff8cb;
}

.tr--checked {
    background-color: #f9ecca;
}

.tr--checked>td {
    background-color: #f9ecca;
}

.td-anchor {
    position: sticky;
    text-align: center;
    background-color: #fff;
    padding: unset;
    overflow: unset;
}

.td-anchor--start {
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.td-anchor--end {
    right: 0;
    border-right: unset;
    border-left: 1px dotted #c7c7c7;
}

td>input,
th>input {
    cursor: pointer;
}

.td-action--selected {
    z-index: 1;
}

.td-action>div {
    position: relative;
}

.td-action__icon {
    border: 1px solid transparent;
    position: relative;
}


.td-action__icon .td-action-list {
    top: 100%;
    left: unset;
    right: -6px;
    min-width: 100px;
    margin-right: 6px;
    /* display: block; */
}

.td-action__icon .td-action-list--up {
    top: unset;
    bottom: 100%;
    /* right: -6px;
    min-width: 120px;
    margin-right: 6px; */
    /* display: block; */
}